*{box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.home{
  font-family: sans-serif;
  background-color: darkgrey;
  height: 100vh;
  width: 40%;
  margin: 0 auto;
}

.stock-span{
  color: green;
  font-size: smaller;
}
table{
  width: 100%;
}

.tr{
  color : blue;
}